<nb-layout>
  <nb-layout-column style="padding: 0px;">

    <section class="py-7 py-md-0 bg-hero" id="home">
      <div class="container center">
        <div class="row">
          <div class="col-md-12 col-sm-10 col-12 mx-auto my-half-auto text-center">
            <img src="https://www.freeiconspng.com/uploads/ban-stop-icon-22.png">
            <h1 class="heading-black">Oh no!</h1>
            <h4>Sei stato bannato!</h4>
            <p>Se ritieni che questo sia un'errore, contattaci su support@DBM.it</p>
          </div>
        </div>
      </div>
    </section>

  </nb-layout-column>
</nb-layout>

